/*******************************
        Theme Selection
*******************************/

/*
For more overrides and variables, see:
https://github.com/Semantic-Org/Semantic-UI-LESS/blob/master/themes/default/globals/site.variables

Copy the folder structure, and it'll atomagically merge the less (need to restart webpack for each new file)

*/

/* Global */
@site       : 'default';  // default, amazon, material, github
@reset      : 'default';

/* Elements */
@button     : 'default';
@container  : 'default';
@divider    : 'default';
@flag       : 'default';
@header     : 'default';
@icon       : 'default';
@image      : 'default';
@input      : 'default';
@label      : 'default';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'default';
@step       : 'default';

/* Collections */
@breadcrumb : 'default';
@form       : 'default';
@grid       : 'default';
@menu       : 'default';
@message    : 'default';
@table      : 'default';

/* Modules */
@accordion  : 'default';
@checkbox   : 'default';
@dimmer     : 'default';
@dropdown   : 'default';
@embed      : 'default';
@modal      : 'default';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'default';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';

// DO NOT TOUCH!

@themesFolder : 'themes';


@import "~semantic-ui-less/theme.less";

@fontPath : "../../../themes/@{theme}/assets/fonts";

// TODO migrate this into a theme?
@import "./spectrum.less";
