{
  "presets": [
    "env",
    "react"
  ],
  "compact" : false,
  "plugins": [
    ["babel-root-import", { "rootPathSuffix": "src" }],
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize",
        ["env", {
          "targets": {
            "uglify": false,
            "browsers": [
              "last 2 versions",
              "safari >= 8",
              "ie >= 10",
              "ios >= 8"
            ]
          },
          "loose": true,
          "useBuiltIns": true
          }]
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [
        ["babel-root-import", { "rootPathSuffix": "src" }],
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
