---
extends: airbnb
parser: babel-eslint
plugins:
 - react
 - jest
env:
  browser: true
  jest/globals: true
rules:
  react/prefer-stateless-function:
    - 0
  react/forbid-prop-types:
    - 0
  import/no-unresolved:
    - 2
    - ignore:
      - "^[~]"
  max-len:
    - error
    - 128
  import/extensions:
    - off
    - never
  class-methods-use-this:
    - 0
