*.diff
*.done.txt
*.err
*.esproj
*.komodoproject
*.log
*.orig
*.pyc
*.rej
*.sass-cache
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.todo
*.todo.txt
*.vi
*.zip
*~
.CVS
.DS_Store
._*
.cache
.grunt
.hg
.idea
.komodotools
.npmrc
.project
.settings
.static
.svn
.tern-port
.tmp
.tmproj
Thumbs.db
_SpecRunner.html
_site
_tmp
bower_components
coverage
docs
done.txt
nbproject
node_modules
npm-debug.log
reports
selenium-debug.log
todo.txt
stats.json